.routeRoot {
  --rbg: var(--background-dark);
  --rbg1: #1C1F22;
  --rbg2: #25292D;
  --rborder: var(--border-dark);
  --rborder1: var(--main-secondary-dark);
  --rline: #C6C7C9;

  color: #FFFFFF;
}

.rootCorner, .rootCorner > span:first-child {
  height: 0;
  border-bottom-width: 57px;
  border-bottom-style: solid;
  border-left: 55px solid transparent;
}

.rootCorner {
  width: 100%;
  height: 0;
  position: relative;
  border-bottom-color: var(--rborder);
}

.rootCorner > span:first-child {
  display: inline-block;
  position: absolute;
  top: 1px;
  right: 1px;
  width: calc(100% + 53px);
  border-bottom-color: var(--rbg);
}

.rootCorner > span:last-child {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: var(--rborder1);
}

.rootCornerInverted, .rootCornerInverted > span:last-child {
  height: 0;
  border-top-width: 60px;
  border-top-style: solid;
  border-right: 64px solid transparent;
}

.rootCornerInverted {
  width: 100%;
  height: 0;
  position: relative;
  border-top-color: var(--rborder);
  margin-top: -15px;
}

.rootCornerInverted > span:last-child {
  display: inline-block;
  position: absolute;
  bottom: 1px;
  left: 1px;
  width: calc(100% + 63px);
  border-top-color: var(--rbg);
}

.rootCornerInverted > span:first-child {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: var(--rborder1);
}

.rootCorner > span:first-child:before {
  content: '';
  position: absolute;
  top: -1px;
  left: -57px;
  width: 69px;
  height: 75px;
  background: url("/images/routing-round-left-top.svg") top left no-repeat;
  background-size: contain;
  z-index: 4;
}

.rootCornerInverted > span:last-child:before {
  content: '';
  position: absolute;
  bottom: -1px;
  right: -64px;
  width: 81px;
  height: 80px;
  background-image: url("/images/routing-round-right-bottom.svg");
  background-position: bottom right;
  z-index: 5;
}

.routeContainer {
  padding: 15px 30px 0;
  position: relative;
  z-index: 3;
  margin-top: -40px;
}

.bgRouteContainer {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: calc(100% - 40px - 15px);
  background-color: var(--rbg);
  border-width: 0 1px;
  border-style: solid;
  border-color: var(--rborder);
  z-index: -1;
}

@media (max-width: 470px) {
  .routeContainer {
    padding: 15px 20px 0;
  }
}

.routeContainer h2 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 24px;
  margin-left: 26px;
}

.routeHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.routeFormWrap > div:first-child:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 100%;
  border-style: dashed;
  border-color: var(--rline);
  border-top-width: 1px;
  z-index: -1;
}

.routeInputTokenWrapper {
  display: inline-flex;
  align-items: center;
  height: 44px;
  padding: 12px;
  background-color: var(--rbg1);
  border: 1px solid var(--rborder);
  grid-gap: 8px;
  box-sizing: border-box;
  position: relative;
}

.flexRowReverse {
  flex-direction: row-reverse;
}

.routeInputTokenWrapper span {
  font-weight: 500;
  font-size: 14px;
}

.squareCorner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
}

.squareCornerInverted {
  top: auto;
  bottom: 0;
  transform: scaleY(-1);
}

.squareCorner > span {
  display: flex;
  justify-content: space-between;
  width: calc(100% + 2px);
  margin: -1px;
}

.squareCorner > span:before, .squareCorner > span:after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-style: solid;
  border-color: var(--rborder1);
}

.squareCorner > span:before {
  border-width: 1px 0 0 1px;
}

.squareCorner > span:after {
  border-width: 1px 1px 0 0;
}

.routeBody {
  padding-left: 24px;
  padding-right: 24px;
}

.routePath {
  display: flex;
  position: relative;
  padding: 24px 5%;
}

.routePathMore {
  border-style: dashed;
  border-color: var(--rline);
  border-width: 0 1px;
}

.routeBody > div:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 46px;
  border-style: dashed;
  border-color: var(--rline);
  border-width: 0 1px 1px;
}

.routeBody > div:not(:last-child):before {
  border-left-width: 0;
  border-right-width: 0;
}

.routePathPercent {
  display: flex;
  height: 32px;
  margin-top: 1px;
  align-items: center;
  /*padding-left: 7%;*/
  /*padding-right: 5%;*/
  position: relative;
  border: 1px solid var(--rborder);
  background-color: var(--rbg2);
}

.percentValue {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  padding: 5px 12px;
}

.routeHopsWrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
  overflow-x: hidden;
}

.routePath > div:before, .routePath > div:after {
  position: absolute;
  display: none;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  box-shadow: 0 0 24px 24px var(--rline);
  z-index: 0;
}

.routePath > div:after {
  left: auto;
  right: 0;
  z-index: 0;
}

.routeHopsWrapper .overleft:before {
  display: block;
}

.routeHopsWrapper .overright:after {
  display: block;
}

.routeHops {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  overflow-x: scroll;
  grid-gap: 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.routeHopsSpace {
  /*justify-content: center;*/
  justify-content: space-around;
}

.routeHopsWrapper > div::-webkit-scrollbar {
  display: none;
}

.routeHop {
  display: flex;
  align-items: center;
  background-color: var(--rbg2);
  border: 1px solid var(--rborder);
  padding: 5px 12px;
  position: relative;
}

.routeHop a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: inherit;
  margin-left: 4px;
}
